.fileEntry
  display: flex
  height: 29px
  align-items: center
  margin: 1px 2px
  padding: 0 5px

  .title
    flex-grow: 1
    margin-left: 4px
    color: #303133
    font-size: 0.9em
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .icon
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 24px

    img
      height: 24px

.selected
  background-color: #D63985
  border-radius: 5px

  .title
    color: #eee

  .folderArrow
    color: #EFAFCE

.folderArrow
  display: flex
  align-items: center
  justify-content: center
  color: #b0b0b0
  font-size: x-small
