.friendContainer
  left: 0
  top: 0
  bottom: 0
  position: absolute
  z-index: 1
  width: 500px
  overflow-x: hidden
  overflow-y: auto
  backdrop-filter: blur(5px)
  background-color: rgba(255, 255, 255, 0.1)
  min-height: 100vh
  max-height: 100vh
  height: 100vh
  @media (min-width: 500.001px)
    border-right-width: 1px
    border-right-style: solid
    border-right-color: #eaeaea

  @media (max-width: 500px)
    width: 100vw


  .scrollBox
    overflow-x: hidden
    overflow-y: auto
    height: inherit
    width: 100%

    .groupBox
      &::after
        content: ''
        display: block
        height: 10px
        min-height: 10px

      .title
        position: sticky
        top: 0
        height: 85px
        z-index: 1
        width: 500px
        backdrop-filter: blur(5px)
        background-color: rgba(255, 255, 255, 0.6)
        color: #303133
        font-size: x-large
        display: flex
        justify-content: center
        align-items: center
        @media (max-width: 500px)
          width: 100vw
